* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container {
  background: #51535b;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  max-width: 600px
}
.square {
  background: #34373b;
  display: flex;
  width: 10px;
  height: 10px;
  margin: 1px;
  transition: 3s ease;
  box-shadow: 0 0 2px black;
}

.square:hover {
  transition-duration: 0s;
}